# Ignore Visual Studio Code specific files:
settings.json
# Ignore all CSV files (the data):
*.csv
# Ignore PNG files:
*.png
# Ignore txt files:
*.txt

# Ignore Metrics files:
#PerformanceMetrics*.txt
#KFoldPerformanceMetrics*.txt

# Ignore launch configuration for VS Code:
launch.json
# Ignore performance metrics files for pre-evaluation:
/PerformanceMetricsForPreEvaluation/*
